Repository Strongdev0813/pittcswiki, changes with the owners that docs/CODEOWNERS names for each.
All owners: @varughese, @azharichenko, @Zmwang622, @rohit-ganguly

docs/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for
# review when someone opens a pull request.
src/pages/*       @varughese @azharichenko 

*.md @Zmwang622 @varughese @azharichenko @rohit-ganguly

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only this owner and not the global
# owner(s) will be requested for a review.
*.js    @varughese
*.json @varughese
*.css @varughese
*.scss @varughese

Update career-fair.md
  src/guides/career/career-fair.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Revisions of the appled stats minor
  src/guides/academics/minors/stats.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Revision of one of the paths
  src/guides/academics/minors/stats.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Added applying-to-graduate-school guide
  src/guides/academics/applying-to-graduate-school.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

fix front matter
  src/guides/academics/applying-to-graduate-school.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Update categories.json
  src/data/categories.json
Owners: @varughese

[Hotfix] CSS bug on searching for courses
  src/components/search/hit-comps.js
Owners: @varughese

Fix single typo
  src/guides/academics/registration/cross-register.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Update uta.md
  src/guides/academics/uta.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

no more pre registration
  src/guides/zero-to-offer/index.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Updated comp-bio guide (#239)
  src/guides/academics/majors/comp-bio.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

proj rseources
  src/guides/skills/projects.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

jawn
  src/components/sitemap-list.js
  src/guides/career/interview-journeys/index.md
Owners: @varughese, @Zmwang622, @azharichenko, @rohit-ganguly

Add active heading in TOC
  src/components/table-of-contents.js
  src/components/templates/guide-template.js
Owners: @varughese

Nit in config file :)
  gatsby-config.js
Owners: @varughese

Fix dead link in TOC for headings with depth greater than 4
  gatsby-config.js
  src/styles/components.scss
Owners: @varughese

Update version requrirement for markdown transformer
  package.json
Owners: @varughese

Remove underscore.js dependency for throttle
  src/components/table-of-contents.js
Owners: @varughese

Update yarn lock
  yarn.lock
Owners: none

Updated comp bio guide (#245)
  src/guides/academics/majors/comp-bio.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Add RMP scraping helper using PittAPI
  helpers/rmp/Pipfile
  helpers/rmp/Pipfile.lock
  helpers/rmp/get-rmp-data.py
  src/data/graphql/rmp_data.json
Owners: @varughese

Add JSON transformer for reading RMP data through graphql
  gatsby-config.js
  package.json
  yarn.lock
Owners: @varughese

Made get rmp data script better handle name duplicates
  helpers/rmp/get-rmp-data.py
  src/data/graphql/rmp_data.json
Owners: @varughese

Add difficulty rating to data
  src/data/graphql/rmp_data.json
Owners: @varughese

Remove unncessary fields from scraper
  helpers/rmp/get-rmp-data.py
Owners: none

Remove unused data
  src/data/graphql/rmp_data.json
Owners: @varughese

Add professor link component with hover
  src/components/professor-link.js
  src/components/testimonial.js
  src/styles/components.scss
Owners: @varughese

Add comment about Pitt API fork
  helpers/rmp/get-rmp-data.py
Owners: none

Add newline at EOF
  src/styles/components.scss
Owners: @varughese

Update components.scss
  src/styles/components.scss
Owners: @varughese

Update professor-link.js
  src/components/professor-link.js
Owners: @varughese

Make not ugly again
  src/styles/components.scss
Owners: @varughese

Move popup slightly left
  src/styles/components.scss
Owners: @varughese

Add external link icon
  src/components/professor-link.js
Owners: @varughese

Rename ProfessorLink component to ProfessorTooltip
  src/components/professor-tooltip.js
  src/components/testimonial.js
Owners: @varughese

Minor change to RMP name
  src/components/professor-tooltip.js
Owners: @varughese

Add npm script for running RMP data scraper
  helpers/rmp/get-rmp-data.py
  package.json
Owners: @varughese

Improve mobile scaling for testimonial headers
  src/components/testimonial.js
Owners: @varughese

Add tooltip variant for touchscreen devices
  src/components/professor-tooltip.js
Owners: @varughese

Make popup only appear for non-mobile users
  src/components/professor-tooltip.js
  src/styles/components.scss
Owners: @varughese
