Repository Strongdev0813/pittcswiki, changes with the owners that docs/CODEOWNERS names for each.
All owners: @varughese, @azharichenko, @Zmwang622, @rohit-ganguly

docs/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for
# review when someone opens a pull request.
src/pages/*       @varughese @azharichenko 

*.md @Zmwang622 @varughese @azharichenko @rohit-ganguly

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only this owner and not the global
# owner(s) will be requested for a review.
*.js    @varughese
*.json @varughese
*.css @varughese
*.scss @varughese

Update components.scss
  src/styles/components.scss
Owners: @varughese

Add support for double-click quick navigation
  src/components/courses/course-listing.js
Owners: @varughese

Move from code block to blockquotes
  src/guides/career/career-fair.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Add "Getting Started with X" section to skills
  src/guides/skills/getting-started-with-x/hackathons.md
  src/guides/skills/getting-started-with-x/index.md
  src/guides/skills/getting-started-with-x/projects.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Fix dead links
  src/guides/career/resume.md
  src/guides/zero-to-offer/building-your-case.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Fix broken r/cscareerquestions link
  src/guides/career/resume.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

great swe
  src/guides/career/great-swe.md
  src/guides/career/job-success.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

tjames goat
  src/guides/career/career-fair.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Update great-swe.md
  src/guides/career/great-swe.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Fix hyperlinks to Blind, etc.
  src/guides/zero-to-offer/mindset.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

Update great-swe.md (#262)
  src/guides/career/great-swe.md
Owners: @Zmwang622, @varughese, @azharichenko, @rohit-ganguly

feat: 400 days and timothy james presentation (#263)
  src/components/templates/blog-post-layout.js
  src/guides/career/resume.md
Owners: @varughese, @Zmwang622, @azharichenko, @rohit-ganguly
